<!DOCTYPE html>
<html lan="en"> <!--English-->
<head>
    <meta charset="UTF-8">  <!--8 common laungages-->
    <title>My Mystic Fortune Teller </title>  <!--the title of the webpage-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='user_interface_styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap" rel="stylesheet"> <!--imported fonts-->
    <link rel="stylesheet" href="user_interface_styles.css">  <!-- My style sheet I made-->
</head>
<body class="MX-5"> 

        <h1 id="page-title">My Mystic Fortune Teller</h1> <!--ID FOR PAGE TITLE-->
        <h1 id="author-name">"A Message from the Powers that be"</h1> <!--ID FOR AUTHOR NAME-->

<br>
    <div class="get_date"> <!--divider for dividing content into logical sections-->
        
        <h2>Select your Zodiac Sign </h2>

        <label for="select-zodiac">Select </label> <!--DROP DOWN MENU lable-->
        <select id="T-shirt Size" style="background-color: rgb(136, 203, 241); border: 3px solid #1f097e;">
            <option name="Select-sign" value="Select Sign"></option>
            <option name="Taurus" value="Taurus">Taurus—April 20-May 20</option>
            <option name="Gemini" value="Gemini">Gemini—May 21-June 20</option>
            <option name="Cancer" value="Cancer">Cancer—June 21-July 22</option>
            <option name="Leo" value="Cancer">Leo—July 23-August 22</option>
            <option name="Virgo" value="Cancer">Virgo—August 23-September 22</option>
            <option name="Libra" value="Cancer">Libra—September 23-October 22</option>
            <option name="Scorpio" value="Cancer">Scorpio—October 23-November 21</option>
            <option name="Sagittarius" value="Cancer">Sagittarius—November 22-December 21</option>
            <option name="Capricorn" value="Cancer">Capricorn—December 22-January 19</option>
            <option name="Aquarius" value="Cancer">Aquarius—Jan 20-February 18</option>
            <option name="Pisces" value="Cancer">Pisces—February 19-March 20</option>
        </select required> <br> <br>

            <p><form action="/mystic_fetcher">
                <input type="submit" value="Submit">  <!--add event listener-->
              </form>
            </p>
    
    </div> <!--END OF divider -->       
  

    </body>

</html>
